body { font-family: 'Alexandria', sans-serif; }

.input-focus:focus {
    border-width: 1px;
    /* border-color: #4ade80; Tailwind's green-400 */
    outline: none;
    /* border-color: transparent; */
}
